@import "../../../styles/consts.scss";

.wrapper {
  position: relative;
}

.btn {
  position: relative;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 10px;
  background: transparent;
  color: $secondary-color;
  margin-left: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: #5e6cab;
  }
  &:active {
    transform: scale(0.9);
  }
}

.text {
  display: none;
  position: absolute;
  background-color: #5e6cab;
  width: 220px;
  left: 18px;
  top: 35px;
  z-index: 9;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 21px;
  padding: 15px 15px;
  &::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 0 12px;
    border-color: transparent transparent transparent #5e6cab;
    position: absolute;
    top: -12px;
    left: 0;
  }
  &.visible {
    display: block;
  }
}
