@import "../../../styles//consts.scss";

.wrapper {
  font-weight: 700;
  font-size: 13px;
  margin: 15px auto;
}

.inputWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.input {
  display: none;
}

.labelText {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 44px;
  transition: all 0.1s ease-in-out;
  &::after {
    content: "";
    width: 36px;
    height: 22px;
    display: block;
    border-radius: 15px;
    position: absolute;
    right: 0;
    transition: all 0.1s ease-in-out;
  }
  &::before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    transition: all 0.1s ease-in-out;
  }
  &.active {
    color: $secondary-color;
    &::after {
      background-color: $accent-color;
    }
    &::before {
      right: 2px;
    }
  }
  &.inactive {
    color: $primary-color;
    &::after {
      background-color: $secondary-color;
    }
    &::before {
      right: 16px;
    }
  }
}

.checkedDescription {
  color: $primary-color;
  margin-left: 10px;
  transition: all 0.1s ease-in-out;
  &.active {
    color: $secondary-color;
  }
  &.inactive {
    color: $primary-color;
  }
}
