@import "../../../styles/consts.scss";

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  border: none;
  padding: 8px 0px;
  margin: 10px 0;
  width: 300px;
  max-width: 320px;
}

.legend {
  font-weight: 500;
  font-size: 13px;
  color: $secondary-color;
}
