@import "../../../styles/consts.scss";

.wrapper {
  margin: 5px 16px;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 22px;
  cursor: pointer;
}

.input {
  display: none;
  &:checked + .labelText::before {
    background: content-box $primary-color;
  }
}

.labelText {
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $primary-color;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid $secondary-color;
    border-radius: 50%;
    left: 0;
    padding: 2px;
  }
}
