@import "../../../styles//consts.scss";

.wrapper {
  display: inline-grid;
  grid-template-columns: 160px 8px auto;
  grid-template-rows: 30px;
  grid-template-areas: 'input . label';
  align-items: center;
  margin: 6px auto;
  width: 220px;
  height: 30px;
}

.input {
  grid-area: input;
  display: flex;
  height: 100%;
  border: 1px solid $secondary-color;
  border-radius: 15px;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  padding: 7px 10px;
}

.label {
  grid-area: label;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  display: block;
  white-space: nowrap;
}
